*{
    margin: 0;
    padding: 0;
    
}
body {
    background-image: url(img/cartagena-colombia.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100vw 100vh;
    
    
    
         
}

.fondo{
    background-color: aliceblue;
    width: 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
        
}

h1{
    opacity: 100%;
}

.family-picture{
    width: .1rem;
    height: .1rem;
}



